body{
  background-color: #EAF6F6;

}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
img{
  border-radius: 100%;
}
.welcome{
  text-align: center;
  font-size: 150%;
}
.hobbies{
  text-align: center;
}

.football{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.swimming{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.fifa{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.contact{
  margin-top: auto;
  padding: 40px;
  text-align: center;
}
.cont{
  color: black;
}
a{
  padding: 20px;
  padding-top: none;
}
i{
  font-family: sans-serif;
  color: black;
}
footer{
  background-color: #66BFBF;
}
h2{
  color: #66BFBF;
}
